@charset "utf-8";

h1,
p,
body {
    margin: 0;
}

p,
a {
    font-size: 20px;
}

header {
    background-color: rgb(244, 79, 79);
    text-align: center;
    color: rgb(255, 255, 255);
}

main {
    margin: 10px;
}

#parent {
    display: flex;
    justify-content: space-around;
}

.contents {
    flex-basis: 25%;
    border: 3px solid rgb(238, 204, 204);
    margin: 20px 0;
    padding: 10px 15px;
    text-align: center;
}

.contents > h2 {
    font-size: 25px;
    border-bottom: 3px dotted rgb(236, 122, 122);
}

.contents > h2::before {
content: "â—";
color: rgb(239, 111, 139);
}

.contents p:nth-of-type(2)::first-letter {
    color: rgb(97, 206, 249);
    font-weight: bold;
}


.contents > img {
    width: 70%;
    margin: 10px 0;
}

footer {
    background-color: rgb(244, 79, 79);
    text-align: center;
}

footer > a {
    color: rgb(255, 255, 255);
    transition:3s;
}

footer > a:visited {
    color: rgb(193, 234, 251);
}

footer > a:hover {
    color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px) {
    .contents > h2 {
        font-size: 30px;
    }

    .contents {
        font-size: 25px;
    }

    #parent {
        display: flex;
        flex-direction: column;
    }
}